                                                               * {
                                                                   margin: 0;
                                                                   padding: 0;
                                                               }
                                                               
                                                               .header {
                                                                   position: fixed;
                                                                   top: 0;
                                                                   left: 0;
                                                                   width: 100vw;
                                                                   z-index: 9999;
                                                               }
                                                               
                                                               body {
                                                                   animation-duration: 100s;
                                                                   animation-name: slidein;
                                                                   background-image: url(/Media/background.svg);
                                                                   animation-iteration-count: infinite;
                                                               }
                                                               
                                                               @keyframes slidein {
                                                                   0% {
                                                                       background-image: url(/Media/background.svg);
                                                                       background-size: 80%;
                                                                   }
                                                                   50% {
                                                                       background-image: url(/Media/background.svg);
                                                                       background-size: 100%;
                                                                   }
                                                                   100% {
                                                                       background-image: url(/Media/background.svg);
                                                                       background-size: 80%;
                                                                   }
                                                               }
                                                               
                                                               nav {
                                                                   width: 0px;
                                                                   height: 70px;
                                                                   position: relative;
                                                                   left: 8vw;
                                                                   top: 20px;
                                                                   background: none;
                                                                   overflow: hidden;
                                                                   transition: 0.3s ease-in-out;
                                                               }
                                                               
                                                               input {
                                                                   display: none;
                                                               }
                                                               
                                                               .nav-menu {
                                                                   width: 700px;
                                                                   float: left;
                                                                   display: inline-block;
                                                               }
                                                               
                                                               .nav-menu ul li {
                                                                   list-style: none;
                                                                   float: left;
                                                                   padding: 10px;
                                                                   font-weight: 100;
                                                                   font-size: clamp(10px, 2.5vw, 50px);
                                                                   font-family: Montserrat, sans-serif;
                                                                   align-items: center;
                                                               }
                                                               
                                                               .nav-menu ul li a {
                                                                   text-decoration: none;
                                                                   color: white;
                                                               }
                                                               
                                                               .nav-menu ul li a:hover {
                                                                   color: black;
                                                               }
                                                               
                                                               label,
                                                               label:before,
                                                               label:after {
                                                                   width: 30px;
                                                                   height: 25px;
                                                                   position: absolute;
                                                                   top: 40px;
                                                                   left: 100px;
                                                                   background: white;
                                                                   cursor: pointer;
                                                                   transition: 0.3s;
                                                               }
                                                               
                                                               label:before,
                                                               label:after {
                                                                   content: '';
                                                                   height: 5px;
                                                                   top: 5px;
                                                                   width: 30px;
                                                                   background: #FD7777;
                                                                   left: 0px;
                                                               }
                                                               
                                                               label:after {
                                                                   top: 15px;
                                                               }
                                                               
                                                               input:checked~label {
                                                                   background: transparent;
                                                               }
                                                               
                                                               input:checked~label:before,
                                                               input:checked~label:after {
                                                                   background: white;
                                                                   transform: rotate(-90deg);
                                                                   height: 1px;
                                                               }
                                                               
                                                               input:checked~label:after {
                                                                   transform: rotate(90deg);
                                                               }
                                                               
                                                               input:checked~nav {
                                                                   width: 100%;
                                                               }
                                                               
                                                               h2 {
                                                                   font-family: aleo, sans-serif;
                                                                   font-size: clamp(10px, 25vw, 50px);
                                                                   font-weight: 100;
                                                               }
                                                               
                                                               h3 {
                                                                   padding-top: 2%;
                                                                   padding-left: 10%;
                                                                   padding-bottom: 6%;
                                                                   font-family: montserrat;
                                                                   font-size: clamp(1rem, 10vw, 6rem);
                                                                   font-weight: 100;
                                                                   color: white;
                                                               }
                                                               
                                                               p {
                                                                   font-family: montserrat;
                                                                   font-size: 20pt;
                                                                   font-weight: 100;
                                                                   color: white;
                                                                   size: 48vw;
                                                                   padding-bottom: 25%;
                                                               }
                                                               
                                                               code {
                                                                   font-family: Consolas, "courier new";
                                                                   color: black;
                                                                   background-color: #f1f1f1;
                                                                   padding: 2px;
                                                                   font-size: 20pt;
                                                                   line-height: 26pt;
                                                               }
                                                               
                                                               .codesnippet {
                                                                   margin: 0;
                                                                   padding: 0;
                                                               }
                                                               
                                                               .codecolor {
                                                                   color: purple;
                                                               }
                                                               
                                                               .colcode {
                                                                   position: absolute;
                                                                   height: 40%;
                                                                   left: 55%;
                                                                   top: 20%;
                                                                   width: 33%;
                                                                   padding-bottom: 10px;
                                                               }
                                                               
                                                               .dosmt {
                                                                   padding-left: 10%;
                                                                   position: relative;
                                                               }
                                                               
                                                               span {
                                                                   font-weight: 400;
                                                               }
                                                               
                                                               .mycol1 {
                                                                   padding: 0%;
                                                                   margin: 0;
                                                               }
                                                               
                                                               .mycol2 {
                                                                   padding: 0%;
                                                                   margin: 0;
                                                               }
                                                               
                                                               .mycol3 {
                                                                   padding: 0%;
                                                                   margin: 0;
                                                               }
                                                               
                                                               .my-row1 {
                                                                   padding-top: 8%;
                                                               }
                                                               
                                                               .imgheader {
                                                                   display: inline-block;
                                                                   padding-top: auto;
                                                                   margin: 0%;
                                                                   padding-left: 0%;
                                                                   padding-right: 0;
                                                                   width: 100%;
                                                               }
                                                               
                                                               .Headerimg {
                                                                   object-fit: cover;
                                                                   max-width: 100%;
                                                                   height: auto;
                                                               }
                                                               
                                                               .citem {
                                                                   padding: 10%;
                                                                   padding-top: 2%;
                                                               }
                                                               
                                                               .illusRPI {}
                                                               
                                                               .RPI1 {
                                                                   padding-top: 20%;
                                                                   object-fit: cover;
                                                                   max-width: 100vh;
                                                                   height: auto;
                                                               }
                                                               
                                                               .container-fluid {
                                                                   display: flexbox;
                                                                   background: linear-gradient(180deg, #FD7777 23.75%, rgba(236, 61, 114, 0.89) 46.15%, rgba(237, 95, 146, 0.95) 71.67%, rgba(95, 126, 237, 0.95) 95.62%);
                                                               }